# Assignment 3

Welcome to Assignment 3. This will be even more fun. Now we will calculate statistical measures on the test data you have created.

YOU ARE NOT ALLOWED TO USE ANY OTHER 3RD PARTY LIBRARIES LIKE PANDAS. PLEASE ONLY MODIFY CONTENT INSIDE THE FUNCTION SKELETONS
Please read why: https://www.coursera.org/learn/exploring-visualizing-iot-data/discussions/weeks/3/threads/skjCbNgeEeapeQ5W6suLkA
. Just make sure you hit the play button on each cell from top to down. There are seven functions you have to implement. Please also make sure than on each change on a function you hit the play button again on the corresponding cell to make it available to the rest of this notebook.
Please also make sure to only implement the function bodies and DON'T add any additional code outside functions since this might confuse the autograder.

So the function below is used to make it easy for you to create a data frame from a cloudant data frame using the so called "DataSource" which is some sort of a plugin which allows ApacheSpark to use different data sources.

All functions can be implemented using DataFrames, ApacheSparkSQL or RDDs. We are only interested in the result. You are given the reference to the data frame in the "df" parameter and in case you want to use SQL just use the "spark" parameter which is a reference to the global SparkSession object. Finally if you want to use RDDs just use "df.rdd" for obtaining a reference to the underlying RDD object. 

Let's start with the first function. Please calculate the minimal temperature for the test data set you have created. We've provided a little skeleton for you in case you want to use SQL. You can use this skeleton for all subsequent functions. Everything can be implemented using SQL only if you like.

In [5]:
def minTemperature(df,spark):
    return spark.sql("SELECT MIN(temperature) as mintemp from washing").first().mintemp

Please now do the same for the mean of the temperature

In [6]:
def meanTemperature(df,spark):
    return spark.sql("SELECT AVG(temperature) as avgtemp from washing").first().avgtemp

Please now do the same for the maximum of the temperature

In [7]:
def maxTemperature(df,spark):
    return spark.sql("SELECT MAX(temperature) as maxtemp from washing").first().maxtemp

Please now do the same for the standard deviation of the temperature

In [14]:
def sdTemperature(df,spark):
    return spark.sql("SELECT STDDEV(temperature) as sdtemp from washing").first().sdtemp

Please now do the same for the skew of the temperature. Since the SQL statement for this is a bit more complicated we've provided a skeleton for you. You have to insert custom code at four position in order to make the function work. Alternatively you can also remove everything and implement if on your own. Note that we are making use of two previously defined functions, so please make sure they are correct. Also note that we are making use of python's string formatting capabilitis where the results of the two function calls to "meanTemperature" and "sdTemperature" are inserted at the "%s" symbols in the SQL string.

In [16]:
def skewTemperature(df,spark):    
    return spark.sql("""
SELECT 
    (
        1/COUNT(temperature)
    ) *
    SUM (
        POWER(temperature-%s,3)/POWER(%s,3)
    )

as skewtemp from washing
                    """ %(meanTemperature(df,spark),sdTemperature(df,spark))).first().skewtemp

Kurtosis is the 4th statistical moment, so if you are smart you can make use of the code for skew which is the 3rd statistical moment. Actually only two things are different.

In [19]:
def kurtosisTemperature(df,spark):    
    return spark.sql("""
SELECT 
    (
        1/COUNT(temperature)
    ) *
    SUM (
        POWER(temperature-%s,4)/POWER(%s,4)
    )

as kurttemp from washing
                    """ %(meanTemperature(df,spark),sdTemperature(df,spark))).first().kurttemp

Just a hint. This can be solved easily using SQL as well, but as shown in the lecture also using RDDs.

In [33]:
def correlationTemperatureHardness(df,spark):
    def meanHardness(df,spark):
        return spark.sql("SELECT AVG(hardness) as avghard from washing").first().avghard
    
    def sdHardness(df,spark):
        return spark.sql("SELECT STDDEV(hardness) as sdhard from washing").first().sdhard
    
    return spark.sql("""
SELECT 
    (
        1/COUNT(temperature)
    ) *
    SUM (
        (temperature-%s)*(hardness-%s)
    ) / (%s * %s)

as corr from washing
                    """ %(meanTemperature(df,spark),meanHardness(df,spark),sdTemperature(df,spark),sdHardness(df,spark))).first().corr

### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED
#axx
### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED

Now it is time to connect to the cloudant database. Please have a look at the Video "Overview of end-to-end scenario" of Week 2 starting from 6:40 in order to learn how to obtain the credentials for the database. Please paste this credentials as strings into the below code

### TODO Please provide your Cloudant credentials here

In [1]:
### TODO Please provide your Cloudant credentials here by creating a connection to Cloudant and insert the code
### Please have a look at the latest video "Connect to Cloudant/CouchDB from ApacheSpark in Watson Studio" on https://www.youtube.com/c/RomeoKienzler
database = "washing" #as long as you didn't change this in the NodeRED flow the database name stays the same
credentials_1 = {
  'password':"""d87bb0df0e188d658cd793c35bb0a8ec229c95392616607ca8f4876f0e18e8ca""",
  'custom_url':'https://cf351b51-c816-424b-9f91-a6bb1594d883-bluemix:d87bb0df0e188d658cd793c35bb0a8ec229c95392616607ca8f4876f0e18e8ca@cf351b51-c816-424b-9f91-a6bb1594d883-bluemix.cloudant.com',
  'username':'cf351b51-c816-424b-9f91-a6bb1594d883-bluemix',
  'url':'https://undefined'
}

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20181231070510-0000
KERNEL_ID = 7bd63159-7c7c-421b-8a77-185ed55059ec

In [2]:
#Please don't modify this function
def readDataFrameFromCloudant(database):
    cloudantdata=spark.read.load(database, "com.cloudant.spark")

    cloudantdata.createOrReplaceTempView("washing")
    spark.sql("SELECT * from washing").show()
    return cloudantdata

In [3]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_1['custom_url'].split(':')[2].split('@')[1])\
    .config("cloudant.username", credentials_1['username'])\
    .config("cloudant.password",credentials_1['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

In [4]:
df=readDataFrameFromCloudant(database)

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0d8f2c70f243e549a...|1-bf4917e89933e67...| 3160|      11|acceptable|     null|     170| null|         93|1545932530527|   null|
|0d8f2c70f243e549a...|1-62a14db4c28cb08...| 3165|      11|acceptable|     null|      74| null|         81|1545932535536|   null|
|0d8f2c70f243e549a...|1-40973b9c41fb42b...| 3175|      11|acceptable|     null|      70| null|         96|1545932545549|   null|
|0d8f2c70f243e549a...|1-a9af4d8e182a5fe...| 3177|      11|acceptable|     null|      74| null|         80|1545932547551|   null|
|0d8f2c70f243e549a...|1-ed8a8228c542838...| 3186|      11|acceptable|     null|      80| null|         89|1545932556572|   null|
|0d8f2c70f243e549a...|1-45fb362d1ffaf05...|  643|    null|      null|     null|    null| 1035|       null|1545932580617|   null|
|0d8f2c70f243e549a...|1-a0b4eccfcde7566...| 1072|    null|      null|       66|    null| null|       null|1545932582410|    237|
|0d8f2c70f243e549a...|1-daa615d4e3f37cd...| 3217|      11|acceptable|     null|      79| null|         86|1545932587638|   null|
|0d8f2c70f243e549a...|1-4e64c6eaa446bb2...| 3226|      11|acceptable|     null|      78| null|         86|1545932596661|   null|
|0d8f2c70f243e549a...|1-6ae1632389f2f41...| 3234|      11|acceptable|     null|      75| null|         95|1545932604674|   null|
|0d8f2c70f243e549a...|1-c3097866e334bd0...| 3247|      11|acceptable|     null|      80| null|        100|1545932617693|   null|
|0ebbab27b0a4554b6...|1-ebb2c06f81fbfac...| 1497|      11|acceptable|     null|      79| null|         86|1545930864480|   null|
|0ebbab27b0a4554b6...|1-1d3a6e90fcde747...| 1507|      11|acceptable|     null|      90| null|         98|1545930874497|   null|
|0ebbab27b0a4554b6...|1-527e792a87a117a...| 1512|      11|acceptable|     null|      95| null|         93|1545930879504|   null|
|0ebbab27b0a4554b6...|1-e90c8df7ab12e27...| 1516|      11|acceptable|     null|      99| null|         88|1545930883508|   null|
|0ebbab27b0a4554b6...|1-723597616eb2184...|  508|    null|      null|       65|    null| null|       null|1545930889402|    229|
|0ebbab27b0a4554b6...|1-0213c13c7fe4dab...| 1525|      11|acceptable|     null|      72| null|         96|1545930892525|   null|
|0ebbab27b0a4554b6...|1-de1da5ba2f347b8...|  510|    null|      null|       63|    null| null|       null|1545930895405|    227|
|0ebbab27b0a4554b6...|1-37520b27ccabcaf...| 1531|      11|acceptable|     null|      74| null|         91|1545930898532|   null|
|0ebbab27b0a4554b6...|1-37532cbf9ec9416...| 1537|      11|acceptable|     null|      71| null|         83|1545930904543|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

In [10]:
minTemperature(df,spark)

80

In [11]:
meanTemperature(df,spark)

90.01211443481502

In [12]:
maxTemperature(df,spark)

100

In [15]:
sdTemperature(df,spark)

6.063460799037195

In [17]:
skewTemperature(df,spark)

0.002591207540817197

In [20]:
kurtosisTemperature(df,spark)

1.7951966181728054

In [34]:
correlationTemperatureHardness(df,spark)

-0.002225308177724809

Congratulations, you are done, please download this notebook as python file using the export function and submit is to the gader using the filename "assignment3.1.py"